:root{
    --main-font-family: "Poppins", serif;
    --primary-color: var(--persian-blue);
    --secondary-color: #0071FF;
    --grey: #D4D4D8;

    /* SPACING */
    --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
    --space-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
    --space-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
    --space-s: clamp(1rem, 1rem + 0vw, 1rem);
    --space-m: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
    --space-l: clamp(2rem, 2rem + 0vw, 2rem);
    --space-xl: clamp(3rem, 3rem + 0vw, 3rem);
    --space-2xl: clamp(4rem, 4rem + 0vw, 4rem);
    --space-3xl: clamp(6rem, 6rem + 0vw, 6rem);

    /* FONT-SIZE */
    --step--2: clamp(0.64rem, 0.7053rem + -0.0544vw, 0.6944rem);
    --step--1: clamp(0.8rem, 0.84rem + -0.0333vw, 0.8333rem);
    --step-0: clamp(1rem, 1rem + 0vw, 1rem);
    --step-1: clamp(1.2rem, 1.19rem + 0.05vw, 1.25rem);
    --step-2: clamp(1.44rem, 1.4155rem + 0.1225vw, 1.5625rem);
    --step-3: clamp(1.728rem, 1.683rem + 0.2251vw, 1.9531rem);
    --step-4: clamp(2.0736rem, 2rem + 0.3678vw, 2.4414rem);
    --step-5: clamp(2.4883rem, 2.3756rem + 0.5634vw, 3.0518rem);

        /* CSS HEX */
    --persian-blue: #3137b0ff;
    --violet: #7538fdff;
    --gray: #85868aff;
    --platinum: #eaeaeaff;
    --blue-crayola: #1375fcff;
    --tropical-indigo: #8d91cdff;
    --gunmetal: #2b2f38ff;
    --violet-blue: #444AB2ff;
    --byzantine-blue: #2D4EDAff;
    --periwinkle: #BFC1DFff;
    --white: #FFFFFFff;
    --white-smoke: #F5F5F5ff;
    --antiflash-white: #EBEBEBff;

    /* CSS HSL */
    --persian-blue: hsla(237, 56%, 44%, 1);
    --violet: hsla(259, 98%, 61%, 1);
    --antiflash-white: hsla(0, 0%, 92%, 1);
    --white-smoke: hsla(0, 0%, 96%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --gray: hsla(228, 2%, 53%, 1);
    --platinum: hsla(0, 0%, 92%, 1);
    --blue-crayola: hsla(215, 97%, 53%, 1);
    --tropical-indigo: hsla(236, 39%, 68%, 1);
    --gunmetal: hsla(222, 13%, 19%, 1);
}


