/* General styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  font-family: var(--main-font-family);
  outline: transparent;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5dvh auto 5dvh;
  overflow: hidden;
  min-height: 100dvh;
  align-items: start;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/* -------------------------------BOTONES------------------------------- */
/* Botones principales */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--primary-color);
}

.orange-button {
  background-color: var(--primary-color);
  color: white;
  transition: background-color ease-in-out 200ms;
  border-radius: var(--space-2xs);
}
.orange-button:hover{
  background-color: var(--secondary-color);
  color: white;
}

.nocnoc-button {
  background-color: var(--primary-color);
  color: white;
}
.nocnoc-button:hover {
  background-color: var(--secondary-color);
}


.red-button {
  background-color: red;
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/* -------------------------------HEADER------------------------------- */
header {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 50px;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  width: 100%;
}
.logo{
  max-height: 50px;
  max-width: 150px;
}
.title{
  color: #fff;
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: 600;
}

/* -------------------------------MODALS------------------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: var(--space-m);
  border-radius: 10px;
  width: clamp(300px, 20rem, 400px);
  text-align: left;
  position: relative;

}
.modal-content div{
  padding-top: var(--space-xs);
}
.modal-content h2{
  font-size: var(--step-1);
  color: hsl(from var(--primary-color) h s 10%);
  font-weight: 500;
}

.modal-content .modal-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.modal-content .modal-form select{
  margin-top: var(--space-2xs);
  padding: var(--space-2xs);
  border: 1px solid var(--grey);
  border-radius: var(--space-3xs);
}
.modal-content .modal-form select:focus{
  border: 2px solid rgb(from var(--primary-color) r g b /30%);
  filter: drop-shadow(0px 5px 5px rgb(from var(--primary-color) r g b /30%));
}

.modal-content .modal-form label{
  margin-top: var(--space-xs);
  font-weight: 500;
  color: rgb(from black r g b / 70%);
  font-size: 14px;
}
.modal-content .modal-form textarea, input{
  width: inherit;
  max-width: calc(100% - var(--space-xs)*2);
  max-height: 200px;
  field-sizing: content;
  margin: var(--space-3xs) 0;
  border: 1px solid var(--grey);
  border-radius: var(--space-3xs) ;
  padding: var(--space-3xs) var(--space-xs);
  transition: filter ease-in-out .1s;
  font-size: 14px;
}
.modal-content .modal-form textarea:hover, input:hover{
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .08));
}
.modal-content .modal-form textarea:focus-visible, input:focus-visible{
  filter: drop-shadow(0px 5px 5px rgb(from var(--primary-color) r g b / 30%));
  outline: 1px solid hsl(from var(--primary-color) h s 80%);
}
.modal-content .modal-form input{
  width: 60%;
}
.modal-content .modal-form button{
  color: white;
  margin-top: var(--space-m);
  background-color: var(--primary-color);
}
.modal-content .modal-form .delete-template{
  background-color: red;
}
.modal-content .close {
  float: right;
  cursor: pointer;
  font-size: 25px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  transition: all ease-in-out .15s;
}
.modal-content .close:hover {
  color: white;
  background-color: var(--primary-color);
  filter: drop-shadow(0px 5px 5px rgb(from var(--primary-color) r g b / 30%));
}

/* -------------------------------TOOLTIP------------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(from black r g b / 70%);
  backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
  border-radius: var(--space-2xs);
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posición del tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* -------------------------------MODIFICACIONES------------------------------- */
.modificaciones{
  padding: var(--space-m) var(--space-m);
  margin: var(--space-m) var(--space-m);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: var(--space-m);
  background-color: rgb(from var(--grey) r g b / 30%);
  border-radius: var(--space-xs);
}
.modificaciones .user-select{
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  align-items: center;
}
.modificaciones .user-select select{
  position: relative;
  padding: var(--space-2xs);
  border: none;
  border-radius: var(--space-2xs);
  filter: drop-shadow(0px 5px 7px rgb(from #000 r g b / 20%));
  transition: filter ease-in-out .1s;
  appearance: none;
  width: 150px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 500;
}
.modificaciones .user-select select::after{
  content: 'v';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000;
  z-index: 2;
}
.modificaciones .user-select select:hover{
  filter: drop-shadow(0px 5px 7px rgb(from var(--primary-color) r g b / 20%));
  
}
.modificaciones .user-select select:focus-visible{
  border: 1px solid var(--primary-color);
  filter: drop-shadow(0px 5px 7px rgb(from var(--primary-color) r g b / 50%));
}
.modificaciones .user-select select option{
  font-weight: 500;
}
.modificaciones .user-select select option:hover{
  background-color: var(--primary-color);
  font-weight: 500;
}

/* -------------------------------PLANTILLAS------------------------------- */

.botones-section{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
}
.botones-section h2{
  font-size: var(--step-3);
  padding-bottom: var(--space-m);
}
.botones-section .botones-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.botones-section .botones-container div{
  background-color: rgb(from var(--grey) r g b / 20%);
  border-radius: var(--space-xs);
  padding: var(--space-m);
  filter: drop-shadow(0px 10px 5px hsl(from black h s l / 10%));
}
.botones-section .botones-container div button{
  width: 100%;
}

/* -------------------------------FOOTER------------------------------- */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  gap: 30px;
}
footer .links{
  display: flex;
  gap: 20px;
}
footer .links a img{
  width: 25px;
  height: auto;
}